<div class="charts-wrapper">
  <div class="charts-wrapper-background"></div>
  <div class="charts-header">
    <mat-icon *ngFor="let chartOption of chartOptions" [style.color]="selectedChartType === chartOption.name ? '#185e8f': ''" (click)="setChartType(chartOption.name)" matTooltip="{{chartOption.name}}" matTooltipPosition="above">{{chartOption.icon}}</mat-icon>
  </div>
  <app-most-populated class="chart-component" *ngIf="selectedChartType == chartTypes.MOST_POPULATED"></app-most-populated>
  <app-biggest-area class="chart-component" *ngIf="selectedChartType == chartTypes.BIGGEST_AREA"></app-biggest-area>
  <app-capital-since class="chart-component" *ngIf="selectedChartType == chartTypes.CAPITAL_SINCE"></app-capital-since>
</div>
