.charts-wrapper {
  width: 100%;
  height: 410px;
  text-align: center;
  color: #aaaaaa;
  user-select: none;
  position: relative;
}

.charts-wrapper-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .05;
  z-index: 0;
  background: url(/assets/img/us_map.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.charts-header {
  position: relative;
  width: 100%;
  z-index: 2;
  line-height: 50px;
  height: 50px;
  border-bottom: 1px solid #424242;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  background-color: #161616;
}

mat-icon {
  height: 50px;
  line-height: 50px;
  cursor: pointer;
  width: 33%;
  box-shadow: -1px 0px 0px 0px #424242, 1px 0px 0px 0px #424242;
  transition: 0.2s all;
}

mat-icon:hover {
  color: white;
  background-color: #454545;
}

.chart-component {
  position: relative;
  z-index: 3;
}
