<div class="container-fluid container-app">

  <div class="container-fluid top-bar" style="">
    <img src="/assets/img/logo.png"/><span>ANGULAR LEAFLET</span>
  </div>

  <div style="display: flex; overflow: auto;">


    <div class="side-nav" style="width: 200px;">
      <div class="map-type-header">{{'choose map type' | uppercase }}</div>
      <div class="map-type" *ngFor="let mapType of mapTypes" (click)="switchMapType(mapType);"
           [class.selected-map-type]="(mapType.name === selectedMapType.name)">
        {{mapType.name}}
      </div>
      <div class="separating-line"></div>
    </div>


    <div class="map-graph-wrapper">
      <div id="map"></div>
      <div class="bottom-section">
        <div class="graph">
          <app-graph></app-graph>
        </div>
        <div class="data-table">
          <app-data-table [map]="map"></app-data-table>
        </div>
      </div>
    </div>


  </div>
</div>
