.container-app {
  padding: 0;
}

.top-bar {
  height: 75px;
  width: 100%;
  line-height: 75px;
  font-size: 25px;
  padding: 0;
  border-bottom: 1px solid rgb(54, 54, 54);
  background-color: rgb(34, 34, 34);
  color: rgb(170, 170, 170);
  position: fixed;
  z-index: 9999;
  //box-shadow: rgba(0, 0, 0, 0.51) 30px 0px 90px;
}

.side-nav {
  background-color: rgb(34, 34, 34);
  margin-top: 75px;
  z-index: 999;
  position: fixed;
  height: 100%;
  padding: 0;
  //box-shadow: rgba(0, 0, 0, 0.51) 30px 0px 90px;
  border-left: 1px solid rgb(54, 54, 54);
  border-right: 1px solid rgb(54, 54, 54);
  color: rgb(170, 170, 170);
  overflow-x: auto;
  .separating-line {
    margin: 20px 0;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(178,178,178,0.75), rgba(255, 255, 255, 0));
    height: 1px;
    width: 100%;
  }
  .map-type-header {
    font-size: 0.8em;
    margin-top: 20px;
    padding: 10px 10px 10px 15px;
  }
  .map-type {
    padding: 10px 10px 10px 30px;
    font-size: 1.1em;
    cursor: pointer;
    transition: 0.2s all;
  }
  .map-type:hover {
    background-color: #454545;
    color: white;
  }
  .selected-map-type {
    color: white;
    box-shadow: inset 3px 0px 0px 0px #185e8f;
  }
}

.map-graph-wrapper {
  padding: 10px;
  padding-top: 85px;
  padding-left: 210px;
  width: 100%;
  min-height: 100vh;
  background-color: #181818;
  #map {
    width: 100%;
    height: 500px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border: 1px solid rgb(54, 54, 54);
  }
  .bottom-section {
    display: flex;
    padding-top: 10px;

    .graph {
      height: calc(50% - 20px);
      width: 30%;
      padding-top: 10px;
      overflow: hidden;
      position: relative;
      margin-right: 10px;
      background-color: #d56217;
      border: 1px solid rgb(54, 54, 54);
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
    .data-table {
      height: calc(50% - 20px);
      width: 70%;
      padding-top: 10px;
      overflow: hidden;
      position: relative;
      background-color: #d52922;
      border: 1px solid rgb(54, 54, 54);
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
  }

}

::ng-deep.leaflet-control-attribution {
  display: none;
}
