::ng-deep.ag-body-viewport.ag-layout-normal::-webkit-scrollbar-track
{
  //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
  background-color: rgba(124, 124, 124, 0.43);
}

::ng-deep.ag-body-viewport.ag-layout-normal::-webkit-scrollbar
{
  width: 7px;
  background-color: rgba(124, 124, 124, 0.44);
}

::ng-deep.ag-body-viewport.ag-layout-normal::-webkit-scrollbar-thumb
{
  background-color: #b9b9b9;
  border-radius: 10px;
}

::ng-deep.ag-row {
  padding-top: 15px;
}

::ng-deep.ag-cell-focus,.ag-cell-no-focus{
  border-color:transparent !important;
}
/* This CSS is to not apply the border for the column having 'no-border' class */
::ng-deep.no-border.ag-cell:focus{
  border-color:transparent !important;
  outline: none;
}
